@model deneysan.Models.ProductWrapperModel
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Styles/prettyPhoto.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Styles/portfolio.css" type="text/css" />
<script src="~/Content/Scripts/plugins.js" type="text/javascript"></script>
<script src="~/Content/Scripts/custom.js" type="text/javascript"></script>

<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div class="content_page page">
            <h2>@ProductRess.ProductStrings.productsheader</h2>
            <hr class="wide">
            <ul id="portfolio-filter" class="clearfix">
                <li class="activeFilter"><a href="#" data-filter="*">@ProductRess.ProductStrings.allproducts</a></li>
                @foreach (var cat in Model.productgroups)
                {
                    <li><a href="/ProductDetail" data-filter=".@cat.PageSlug">@cat.GroupName</a></li>
                }
            </ul>
            <div id="portfolio">
                @foreach (var product in Model.products)
                {
                        <div class="portfolio-item @product.ProductGroup.PageSlug">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="@product.ProductImage" alt="@product.Name" title="@product.Name" /></a>
                                <div class="portfolio-overlay">
                                    <div class="portfolio-overlay-wrap">
                                        @*<p>Sed ut perspiciatis unde omnis iste natus voluptatem fringilla tempor dignissim at, pretium et arcu.</p>
                                            <span><span></span></span>
                                        <a href="#">Icons</a> &middot; <a href="#">Media</a>*@
                                    </div>
                                    <div class="p-overlay-icons clearfix">
                                        <a href="@product.ProductImage" class="p-o-image" rel="prettyPhoto"></a>
                                        <a href="portfolio-single.php" class="p-o-link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-title">
                                <h3 title="@product.Name"><a href="portfolio-single.php">@product.Name</a></h3>
                            </div>
                        </div>
                }
            </div>


        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var $container = $('#portfolio');
        $container.isotope();
        $('#portfolio-filter a').click(function () {
            $('#portfolio-filter li').removeClass('activeFilter');
            $(this).parent('li').addClass('activeFilter');
            var selector = $(this).attr('data-filter');
            $container.isotope({ filter: selector });
            return false;
        });
        $(window).resize(function () {
            $container.isotope('reLayout');
        });
    });
</script>
