@model deneysan.Models.ProductWrapperModel
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Styles/portfolio.css" type="text/css" />

<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div class="content_page page">
            <h2 style="width: 800px; float: left;">@ProductRess.ProductStrings.productsheader</h2>
            <button type="button" onclick="history.go(-1)" style="cursor:pointer">&lt;&lt; @SharedRess.SharedStrings.goback</button>
            <hr class="wide">
            <div id="portfolio">
                @foreach (var product in Model.products)
                {
                    <div class="portfolio-item">
                        <div class="portfolio-image" style="display: block">
                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_products/@product.ProductGroup.PageSlug/@product.PageSlug/@product.ProductId">
                                <img src="@product.ProductImageThumb" alt="@product.Name" title="@product.Name" />
                            </a>
                        </div>
                        <div class="portfolio-title">
                            <h3>
                                <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_products/@product.ProductGroup.PageSlug/@product.PageSlug/@product.ProductId">@product.Name</a>
                            </h3>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
