@model deneysan_DAL.Entities.Product
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Styles/portfolio.css" type="text/css" />
<script src="/Content/Scripts/jquery.prettyPhoto.js"></script>
<link href="/Content/Styles/prettyPhoto.css" rel="stylesheet" />

<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div class="content_page page">

            <h2>@Model.Name</h2>
            <hr />
            <div class="news_panel grid_4">
                <div class="news_main_image">
                    <ul class="gallery clearfix">
                        <li>
                            <a href="@Model.ProductImage" rel="prettyPhoto" title="@Model.Name">
                                <img id="contentmain_imgnews" title="@Model.Name" src="@Model.ProductImage" style="height: 160px; width: 200px;" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="contentmain_divrelateddocuments" class="news_task list">
                    <h3><span id="contentmain_lblrelateddocumentsheader">@ProductRess.ProductStrings.relateddocs</span></h3>
                    <ul>

                        <li class="fl100">
                            <div class="icon">
                                <a href='/ebsomedia/documents/kobi-okulu-egtim-notu_20093941.doc' title="">
                                    <img src='/Content/Images/Front/doc.png' title='DOC' width='32' height='32' /></a>
                            </div>
                            <div class="dosya"><a href='/ebsomedia/documents/kobi-okulu-egtim-notu_20093941.doc' title="">KOBİ Okulu Eğtim Notu <span>MS WORD</span></a></div>
                        </li>

                        <li class="fl100">
                            <div class="icon">
                                <a href='/Content/Images/kobi-okulu-egtim-sunumu_41677186.ppt' title="">
                                    <img src='/Content/Images/Front/ppt.png' title='PPT' width='32' height='32' /></a>
                            </div>
                            <div class="dosya"><a href='/ebsomedia/documents/kobi-okulu-egtim-sunumu_41677186.ppt' title="">KOBİ Okulu Eğtim Sunumu <span>POWER POİNT</span></a></div>
                        </li>

                    </ul>
                </div>
                <div class="clear"></div>
                        
                <script>
                    $(document).ready(function () {
                        $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto();
                    });                </script>
            </div>
            <div class="wrap_content grid_7">
                <span id="contentmain_lblcontentmenu">
                    <p>
                        Ürün içeriği
                    </p>
                </span>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>

