<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Content/Styles/layout.css" rel="stylesheet" />
    <script src="/Content/scripts/jquery-1.7.2.min.js"></script>
    <script src="/Content/scripts/cufon-yui.js"></script>
    <script src="/Content/scripts/jquery.jcarousel.min.js"></script>
    <script src="/Content/scripts/neue77.js"></script>
    <script src="/Content/scripts/jquery.cycle.all.js"></script>
    <script src="/Content/Scripts/main.js"></script>
    @*<script src="/Content/Scripts/modernizr-2.5.3.js"></script>*@
    <script src="~/Content/Scripts/modernizr-2.0.4.min.js"></script>
    <script>
        $(function () {
            $('img').bind('contextmenu', function (e) {
                return false;
            });
        });
    </script>
</head>
<body>
    <div id="mapPanel">
        <div id="googleMap" class="googleMap" data-zoom="14"></div>
        <div class="wrap">
            <div class="oneThird">
                <address>
                    <p>
                        <strong>DENEYSAN EĞİTİM CİHAZLARI SAN. VE TİC. LTD. ŞTİ.</strong><br />
                        @SharedRess.SharedStrings.address: 
Yeni Sanayi Sitesi 12 Ekim Cad. 52.Sok. No:18A    
BALIKESİR 
                    </p>
                </address>
            </div>
            <div class="oneThird last">
                <p>
                    <span>@SharedRess.SharedStrings.phone</span>: (266)  246 10 75<br />
                    <span>@SharedRess.SharedStrings.fax</span>: (266)  246 09 48
                </p>
            </div>
            <div class="oneThird last">
                <p>
                    <span>@SharedRess.SharedStrings.email</span>: <a href="mailto:info@deneysan.com" id="a_ust_mail">info@deneysan.com</a><br />
                    <span>@SharedRess.SharedStrings.taxoffice</span>: Karesi V.D. / 2910797535
                </p>
            </div>
            <div class="clear"></div>
            <div id="mapPanelHandle" class="mapPanelHandle">
                <span style="text-transform: capitalize !important">@SharedRess.SharedStrings.map</span>
            </div>
            <div id="lang">
                @Html.ActionLink(SharedRess.SharedStrings.culturename, "ChangeCulture", "FHome", new { lang = SharedRess.SharedStrings.culture, returnUrl = this.Request.RawUrl }, null)
            </div>
        </div>
    </div>
    <header>
        <div class="wrapper">
            <div id="teklifdiv" style="margin-top: 50px; font-weight: bold; z-index: 999999; position: absolute; right: 10px; float: right;">
                <a class="btn" href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_offer">
                    @*<span style="border-right:1px solid #ccc; margin-right:8px;display:inline-block">*@
                        <i class="icon-offer"></i>
                        <img style="margin-right:5px;" src="~/Content/Images/icons/offer.png" />
                    @*</span>*@
                        <span id="offerlisttext">@SharedRess.SharedStrings.myofferlist</span> <span id="offertextparantez1">(</span><span id="teklifAdedi">&nbsp;&nbsp;</span><span id="offertextparantez2">)</span></a>
            </div>
            <div class="Right rmenu">
                <div class="social-icons">
                    <a target="_blank" href="https://www.facebook.com/pages/Deneysan-E%C4%9Fitim-Cihazlar%C4%B1-San-ve-Tic-Ltd-%C5%9Eti/199417720130248?ref=ts&fref=ts" title="Deneysan Facebook" class="facebook"></a>
                    <a target="_blank" href="https://twitter.com/deneysan" title="Deneysan Twitter" class="twitter"></a>
                    <a target="_blank" href="http://www.youtube.com/results?search_query=deneysan" title="Deneysan Youtube" class="youtube"></a>
                </div>
                <div id="searchform">
                    @{ Html.RenderAction("_search", "FSearch"); }
                </div>
            </div>
            <div class="head_content container_16">
                <div class="logo"><a href="/" title="@SharedRess.SharedStrings.pagetitle"></a></div>
                <div class="menu">
                    <ul class="cssdropdown">
                        <li>
                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_homepage">@SharedRess.SharedStrings.homepage</a>
                        </li>
                        <li class="mnslc">
                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_institutional">@SharedRess.SharedStrings.institutional</a>
                            <ul class="submenu">
                                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_institutional'>@SharedRess.SharedStrings.aboutus</a></li>
                                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_visionmision'>@SharedRess.SharedStrings.visionmision</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_products">@SharedRess.SharedStrings.products</a>
                        </li>
                        <li>
                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references">@HomeRess.HomeStrings.references</a>
                        </li>
                        <li>
                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_documents">@SharedRess.SharedStrings.documents</a>
                        </li>
                        <li class="mnslc">
                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_contactdetails">@SharedRess.SharedStrings.contact</a>
                            <ul class="submenu">
                                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_contactdetails'>@SharedRess.SharedStrings.contactdetails</a></li>
                                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_contactform'>@SharedRess.SharedStrings.contactform</a></li>
                                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_bankaccounts'>@SharedRess.SharedStrings.bankaccounts</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </header><div style="clear:both"></div>
    <div class="main_page container_16">
        @RenderBody()
    </div>
    <footer class="footer-copyright">
        <div class="copyright-content">
            <nav>
                <ul>
                    <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_homepage" title="@SharedRess.SharedStrings.homepage">@SharedRess.SharedStrings.homepage</a></li>
                    <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_institutional" title="@SharedRess.SharedStrings.institutional">@SharedRess.SharedStrings.institutional</a></li>
                    <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_products" title="@SharedRess.SharedStrings.products">@SharedRess.SharedStrings.products</a></li>
                    <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_documents" title="@SharedRess.SharedStrings.documents">@SharedRess.SharedStrings.documents</a></li>
                    <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_contactdetails" title="@SharedRess.SharedStrings.contact">@SharedRess.SharedStrings.contact</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>

<script>
    $(function () {
        $.ajax({
            type: 'POST',
            url: '/FOffers/GetOfferCount',
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (result) {
                $("#teklifAdedi").text(result);
                //alert(result);
                if (result != "0") {
                    $("#offerlisttext").css("color", "#F00");
                    $("#offertextparantez1").css("color", "#F00");
                    $("#offertextparantez2").css("color", "#F00");
                    $("#teklifAdedi").css("color", "#F00");
                } else {
                    $("#offerlisttext").css("color", "#555");
                    $("#offertextparantez1").css("color", "#555");
                    $("#offertextparantez2").css("color", "#555");
                    $("#teklifAdedi").css("color", "#555");
                }
            },
            error: function () {

            }
        });
    });
</script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40474919-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21688555 = new Ya.Metrika({id:21688555,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21688555" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script src="/Content/scripts/toppanel.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&async=2"></script>

