@model deneysan.Models.OfferWrapperModel
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

@if (@SharedRess.SharedStrings.menu_culture.Equals("tr"))
{
    <script src="~/Content/Scripts/jquery.validationEngine-tr.js"></script>
}
else
{
    <script src="~/Content/Scripts/jquery.validationEngine-en.js"></script>
}
<script src="~/Content/Scripts/jquery.maskedinput-1.3.min.js"></script>
<script src="~/Content/Scripts/jquery.validationEngine.js"></script>
<link href="~/Content/Styles/validationEngine.jquery.css" rel="stylesheet" />
<style>
    .upper { text-transform: uppercase; }
</style>
<script>
    $(document).ready(function () {

        jQuery("#offerform").validationEngine();

        function maske() {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);
            if (last.length == 3) {
                var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                var lastfour = move + last;
                var first = $(this).val().substr(0, 9);
                $(this).val(first + '-' + lastfour);
            }
        }

        function upper(ustr) {
            var str = ustr.value;
            ustr.value = str.toUpperCase();
        }

        function lower(ustr) {
            var str = ustr.value;
            ustr.value = str.toLowerCase();
        }

        $(".telefon input[type=text]").on("blur", function () { maske(); });
        $(".telefon input[type=text]").mask("999 999 99 99");
        $(".fax input[type=text]").on("blur", function () { maske(); });
        $(".fax input[type=text]").mask("999 999 99 99");
        $(".gsm input[type=text]").on("blur", function () { maske(); });
        $(".gsm input[type=text]").mask("999 999 99 99");
    });
</script>
<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div class="form_block page">
            <h2>@OfferRess.OffersStrings.offerform</h2>
            <hr class="wide">
            <p>@Html.ValidationMessage("_FORM")</p>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "offerform" }))
            {
                <div class="contact-form" style="width: 340px; float: left">
                    <div class="field_offer_one">
                        <div style="width: 64px; float: left; line-height: 30px; font-weight: bold;"><span style="float: right; line-height: 27px;">@OfferRess.OffersStrings.instname</span></div>
                        <div style="float: left; margin-left: 15px; font-weight: bold;">
                            @Html.TextBoxFor(m => m.teklif.Kurum, null, new { @class = "validate[required] text-input upper", @title = "Kurum", @size = "30" }) <span class="star">*</span>
                        </div>
                    </div>

                    <div class="field_offer_one adsoyad">
                        <div style="width: 64px; float: left; line-height: 30px; font-weight: bold;"><span style="float: right; line-height: 27px;">@OfferRess.OffersStrings.namesurname</span></div>
                        <div style="float: left; margin-left: 15px; font-weight: bold;">
                            @Html.TextBoxFor(m => m.teklif.Adsoyad, null, new { @class = "validate[required] text-input upper", @title = "Ad Soyad", @size = "30" }) <span class="star">*</span>
                        </div>
                    </div>

                    <div class="field_offer_one unvan">
                        <div style="width: 64px; float: left; line-height: 30px; font-weight: bold;"><span style="float: right; line-height: 27px;">@OfferRess.OffersStrings.title</span></div>
                        <div class="unvan" style="float: left; margin-left: 15px; font-weight: bold;">
                            @Html.TextBoxFor(m => m.teklif.Unvan, null, new { @class = "upper", @title = "Ünvan", @size = "30" })
                        </div>
                    </div>

                     <div class="field_offer_one eposta">
                        <div style="width: 64px; float: left; line-height: 30px; font-weight: bold;"><span style="float: right; line-height: 27px;">@ContactRess.ContactStrings.email</span></div>
                        <div style="float: left; margin-left: 15px; font-weight: bold;">
                            @Html.TextBoxFor(m => m.teklif.Eposta, null, new { @class = "validate[required,custom[email]] text-input", @title = "Eposta", @size = "30" }) <span class="star">*</span>
                        </div>
                    </div>

                    <div class="field_offer_one telefon">
                        <div style="width: 64px; float: left; line-height: 30px; font-weight: bold;"><span style="float: right; line-height: 27px;">@OfferRess.OffersStrings.tel</span></div>
                        <div style="float: left; margin-left: 15px; font-weight: bold;">
                            @Html.TextBoxFor(m => m.teklif.Tel, null, new { @class = "validate[required] text-input", @title = "Telefon", @size = "30" }) <span class="star">*</span>
                        </div>
                    </div>

                    <div class="field_offer_one fax">
                        <div style="width: 64px; float: left; line-height: 30px; font-weight: bold;"><span style="float: right; line-height: 27px;">Fax</span></div>
                        <div style="float: left; margin-left: 15px; font-weight: bold;">
                            @Html.TextBoxFor(m => m.teklif.Fax, null, new { @class = "", @title = "Fax", @size = "30" })
                        </div>
                    </div>

                    <div class="field_offer_one gsm">
                        <div style="width: 64px; float: left; line-height: 30px; font-weight: bold;"><span style="float: right; line-height: 27px;">Gsm</span></div>
                        <div style="float: left; margin-left: 15px; font-weight: bold;">
                            @Html.TextBoxFor(m => m.teklif.Gsm, null, new { @class = "validate[required] text-input", @title = "GSM", @size = "30" }) <span class="star">*</span>
                        </div>
                    </div>

                    <div class="field_offer_one nottitle">
                        <div style="width: 64px; float: left; line-height: 30px; font-weight: bold;"><span style="float: right; line-height: 27px;">@OfferRess.OffersStrings.note</span></div>
                        <div style="float: left; margin-left: 15px; font-weight: bold;">
                            @Html.TextAreaFor(m => m.teklif.Not, 1, 1, new { @class="not upper", @title = "Not", @size = "500" })
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <p style="color: red; margin-left:80px;">@ContactRess.ContactStrings.requiredfiled</p>

                    <div class="field_one" style="margin-top: 10px">
                        <input id="btnOffer" style="margin-left:80px;" type="submit" class="button gray" value="@ContactRess.ContactStrings.send" />
                    </div>
                </div>
                <div id="offer-list">
                    <div id="offer-content">
                         
                        @if (TempData["sent"] != null)
                        {
                            Html.RenderPartial("_sentOfferList");
                           
                        }
                        else
                            if (Model.products.Count() == 0)
                            {
                                Html.RenderPartial("_emptyOfferList");
                            }
                            else
                            { 
                            <h1>Teklif Listenizdeki Ürünler</h1>
                            <div>
                                @for (int i = 0; i < Model.products.Count(); i++)
                                {
                                    <div id="item-@Model.products[i].ProductId" class="offeritem" style="overflow: hidden;">
                                        <div style="float: left; padding: 5px 5px 5px 10px;">
                                            @Html.DropDownListFor(m => m.teklifurun[i].Adet, new[] {
                                        new SelectListItem{ Text= "1", Value="1" },
                                        new SelectListItem{ Text= "2", Value="2" },
                                        new SelectListItem{ Text= "3", Value="3" },
                                        new SelectListItem{ Text= "4", Value="4" },
                                        new SelectListItem{ Text= "5", Value="5" }
                                     }, new { @class = "" })
                                        </div>
                                        <div style="float: left; width: 470px;">
                                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_products/@Model.products[i].ProductGroup.PageSlug/@Model.products[i].PageSlug/@Model.products[i].ProductId">@Model.products[i].Name</a>
                                        </div>
                                        <div style="float: left; text-align: center">
                                            <a id="deleteItem" style="width: 20px" href="#" onclick="deleteItem(@Model.products[i].ProductId)">
                                                <img src="~/Content/Images/icons/trash.gif" />
                                            </a>
                                        </div>
                                        <div style="clear: both"></div>
                                        @if (Model.products[i].Hardware)
                                        {
                                            <div style="padding-left: 71px; margin-bottom: 5px; overflow: hidden; height: 25px;">
                                                @Html.CheckBoxFor(m => m.teklifurun[i].Donanim, new { @style = "float:left" }) <span style="float: left; font-weight: bold">@OfferRess.OffersStrings.wanttohardware</span>
                                            </div>    
                                        }
                                        
                                    </div>   
                                }
                            </div>
                            }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function deleteItem(id) {

        if (id != "") {
            $.ajax({
                type: 'POST',
                url: '/FProducts/RemoveFromList',
                data: '{id:"' + id + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (result) {

                    if (result == "0") {
                        $("#offer-content").empty();
                        $("#offer-content").load("/offer/empty");

                    } else {
                        $("#item-" + id).fadeOut(500).remove();
                    }

                    $("#teklifAdedi").text(result);
                },
                error: function () {

                }
            });
        }
    }

</script>
