@model dynamic
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div class="form_block page">
            <h2>@OfferRess.OffersStrings.offerform</h2>
            <hr>
            <p>@Html.ValidationMessage("_FORM")</p>
            @if (TempData["sent"] != null)
            {
                if (TempData["sent"].ToString().Equals("true"))
                {
                <div class="notification success">@ContactRess.ContactStrings.messagesent</div>
                }
                else if (TempData["sent"].ToString().Equals("false"))
                {
                <div class="notification error">@ContactRess.ContactStrings.messagenotsent</div>
                }
            }
            @using (Html.BeginForm())
            {
                <div class="contact-form" style="width:460px; float:left">
                    <div class="field_one">
                        <label class="hasTip required">@ContactRess.ContactStrings.namesurname<span class="star">&nbsp;*</span></label>
                        <br />
                        @Html.TextBox("Kurum", null, new { @class = "required", @size = "30", @required = "required" })
                    </div>
                    <div class="field_one">
                        <label class="hasTip required">@ContactRess.ContactStrings.namesurname<span class="star">&nbsp;*</span></label>
                        <br />
                        @Html.TextBox("Unvan", null, new { @class = "required", @size = "30", @required = "required" })
                    </div>
                    <div class="field_one">
                        <label class="hasTip required">@ContactRess.ContactStrings.namesurname<span class="star">&nbsp;*</span></label>
                        <br />
                        @Html.TextBox("AdSoyad", null, new { @class = "required", @size = "30", @required = "required" })
                    </div>
                    <div class="field_one">
                        <label class="hasTip required">@ContactRess.ContactStrings.namesurname<span class="star">&nbsp;*</span></label>
                        <br />
                        @Html.TextBox("Tel", null, new { @class = "required", @size = "30", @required = "required" })
                    </div>
                     <div class="field_one">
                        <label class="hasTip required">@ContactRess.ContactStrings.namesurname<span class="star">&nbsp;*</span></label>
                        <br />
                        @Html.TextBox("Gsm", null, new { @class = "required", @size = "30", @required = "required" })
                    </div>
                     <div class="field_one">
                        <label class="hasTip required">@ContactRess.ContactStrings.namesurname<span class="star">&nbsp;*</span></label>
                        <br />
                        @Html.TextBox("Fax", null, new { @class = "required", @size = "30", @required = "required" })
                    </div>

                    <p>@ContactRess.ContactStrings.requiredfiled</p>

                    <div class="field_one" style="margin-top: 10px">
                        <input type="submit" class="button gray" value="@ContactRess.ContactStrings.send" />
                    </div>
                </div>
                <div style="float:left; width:410px;">
                    <p><b>Teklif almak istediğiniz ürünleri seçiniz:</b></p>
                    <div style="height:100px; border:1px solid #eee">


                    </div>
                </div>
            }
        </div>
    </div>
</div>
