@model deneysan_DAL.Entities.HumanResource
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div id="sub-sidebar" style="float:left; min-height:500px">
            <h1>
                @CareerRess.CareerStrings.career
            </h1>
            <ul style="margin-top: -9px" id="ul1">
                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_career'>@CareerRess.CareerStrings.joinus</a></li>
                <li><a href='/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_career/@SharedRess.SharedStrings.menu_application'>@CareerRess.CareerStrings.applicationform</a></li>
            </ul>
        </div>

        <div id="sub-content" class="fl">
            <h1>@CareerRess.CareerStrings.joinus</h1>
            <hr />
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
