@model dynamic
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
@if (@SharedRess.SharedStrings.menu_culture.Equals("tr"))
{
    <script src="~/Content/Scripts/jquery.validationEngine-tr.js"></script>
}
else
{
    <script src="~/Content/Scripts/jquery.validationEngine-en.js"></script>
}

<script src="~/Content/Scripts/jquery.maskedinput-1.3.min.js"></script>
<script src="~/Content/Scripts/jquery.validationEngine.js"></script>
<link href="~/Content/Styles/validationEngine.jquery.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        jQuery("#contactform").validationEngine();
    });
</script>

<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">

        <div class="form_block page">
            <h2>@ContactRess.ContactStrings.contactform</h2>
            <hr class="wide">
            <p>@Html.ValidationMessage("_FORM")</p>
            @if (TempData["required"] != null)
            {
                if (TempData["required"].ToString().Equals("true"))
                {
                    <div class="notification error">@SharedRess.SharedStrings.requiredfields</div>
                }
            }
            @if (TempData["sent"] != null)
                {
                    if (TempData["sent"].ToString().Equals("true"))
                    {
                        <div class="notification success">@ContactRess.ContactStrings.messagesent</div>
                    }
                    else if (TempData["sent"].ToString().Equals("false"))
                    {
                        <div class="notification error">@ContactRess.ContactStrings.messagenotsent</div>
                    }
                }
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "contactform" }))
            {
                <div class="contact-form" style="margin-left:30px;">
                    <fieldset>
                        <legend>@ContactRess.ContactStrings.requiredfiled</legend>
                        <dl>
                            <div class="field_one">
                                <dt>
                                    <label class="hasTip required">@ContactRess.ContactStrings.namesurname<span class="star">&nbsp;*</span></label></dt>
                                <dd>
                                    @Html.TextBox("namesurname", null, new { @class = "validate[required] text-input", @size = "30" })
                                </dd>
                            </div>
                            <div class="field_one">
                                <dt>
                                    <label class="hasTip required" title="">@ContactRess.ContactStrings.email<span class="star">&nbsp;*</span></label></dt>
                                <dd>
                                    @Html.TextBox("email", null, new { @class = "validate[required,custom[email]] text-input", @size = "100" })
                                </dd>
                            </div>
                            <div class="field_one">
                                <dt>
                                    <label class="hasTip required" title="">@ContactRess.ContactStrings.subject<span class="star">&nbsp;*</span></label></dt>
                                <dd>
                                    @Html.TextBox("subject", null, new { @class = "validate[required] text-input", @size = "100" })
                                </dd>
                            </div>
                            <div class="field_second">
                                <dt>
                                    <label class="hasTip required" title="">@ContactRess.ContactStrings.message<span class="star">&nbsp;*</span></label></dt>
                                <dd>
                                    @Html.TextArea("body", null, new { @class = "validate[required] text-input", @cols = "50", @rows = "10" })
                                </dd>

                            </div>
                            <div class="field_one">
                                <dd style="float: left; clear: both; overflow: hidden">
                                    <input type="submit" class="button gray" value="@ContactRess.ContactStrings.send" />
                                </dd>
                            </div>
                        </dl>
                    </fieldset>
                </div>
            }
            <div style="clear:both"></div>
            <div><br /></div>
        </div>
    </div>
</div>
