@model deneysan_DAL.Entities.Contact
@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

<style type="text/css">
.product-feature {position: relative;padding-left: 60px;margin-top: 10px;}
.product-feature:first-child { margin-top: 0; }
.product-feature h3 {font-size: 16px;line-height: 22px;color: #333;padding-bottom: 7px; margin-left:10px;}
.product-feature p { margin: 0 0 0 10px; }
.product-feature img,.product-feature > span {display: block;position: absolute;left: 0;top: 0;margin: 0;padding: 12px;width: 24px;height: 24px;border-radius: 24px;-moz-border-radius: 24px;-webkit-border-radius: 24px;}
.product-feature > span {font-size: 25px;color: #FFF;text-align: center;line-height: 23px;}
.icon-map-marker { background-image:url('/Content/Images/Front/map-marker.png'); background-repeat:no-repeat; }
.icon-phone { background-image:url('/Content/Images/Front/icon-phone.png'); background-repeat:no-repeat; }
.icon-envelope-alt { background-image:url('/Content/Images/Front/icon-envelope-alt.png'); background-repeat:no-repeat; }
.icon-web { background-image:url('/Content/Images/Front/icon-web.png'); background-repeat:no-repeat; }
.icon-tax { background-image:url('/Content/Images/Front/bank.png'); background-repeat:no-repeat; }
</style>
<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div class="content_page page">
            <h2>@ContactRess.ContactStrings.contact</h2>
            <hr class="wide">
            <div>
                <div class="iletisim_left">
                    <div class="product-feature"><span class="icon-map-marker"></span><h3>@SharedRess.SharedStrings.address</h3><p>@Model.Address</p></div>
                    <div class="product-feature"><span class="icon-phone"></span><h3>@SharedRess.SharedStrings.phone / Fax</h3><p>@Model.Phone<br>@Model.Fax</p></div>
                    <div class="product-feature"><span class="icon-envelope-alt"></span><h3>@SharedRess.SharedStrings.email</h3><p>@Model.Email</p></div>
                    <div class="product-feature"><span class="icon-web"></span><h3>Web</h3><p><a href="http://www.deneysan.com">http://www.deneysan.com</a> <br>&nbsp;</p></div>
                    <div class="product-feature"><span class="icon-tax"></span><h3>@SharedRess.SharedStrings.taxoffice</h3><p>@Model.Taxoffice <br> No: @Model.Taxnumber</p></div>
                        
                   @* <p>
                        <strong>
                            <span>@SharedRess.SharedStrings.address:</span>
                        </strong>
                        <br />
                        <span>@Html.Raw(Model.Address)</span>
                    </p>
                    <p>
                        <strong><span>@SharedRess.SharedStrings.phone:</span> </strong>
                        <br />
                        <span>@Model.Phone</span>
                    </p>
                    <p>
                        <strong><span>@SharedRess.SharedStrings.fax:</span> </strong>
                        <br />
                        <span>@Model.Fax</span>
                    </p>
                    <p>
                        <strong><span>@SharedRess.SharedStrings.email:</span> </strong>
                        <br />
                        <a href="mailto:@Model.Email">
                            <span>@Model.Email</span></a>
                    </p>
                    <p>
                        <strong>Web:</strong><br />
                        <a href="http://www.deneysan.com"><span>http://www.deneysan.com</span></a>
                    </p>
                    <p>
                        <strong><span>@ContactRess.ContactStrings.mapcoordinates</span> </strong>
                        <br />
                        <span>39.674064;27.935615</span>
                    </p>*@
                </div>
               @* <div style="width:400px; float:right;">
                    <div class="topmargin">
                        
                            
                        </div>

                </div>*@
                <div class="iletisim_map mapPanelHandle" style="cursor:pointer;">
                    @*<div id="gMap" class="gmap" data-zoom="14"></div>*@
                    <img id="resimharita" src="~/Content/Images/Front/iletisim-harita.png" />
                </div>

                <br style="clear: both" />

            </div>

        </div>
    </div>
</div>

<script src="~/Content/Scripts/jquery-ui.js"></script>

<script type="text/javascript">
    $(function () {
        $('.iletisim_map').hover(function () {
            $('#resimharita').fadeToggle("fast", "linear");
        });

        $('.iletisim_map').click(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });


        setInterval(function () {
            $("#mapPanelHandle").effect("highlight", "slow");
        }, 2000);
    });
</script>
